html, body {
	height: 100%;
}

body, p, h1, h2, h3, li, td {
	font-family: 'Segoe UI', Verdana, Arial;
}

body {
	color: #000000; 
	margin:0; padding:0;
	font-size : .8em;	
	width:100%;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

#wrapper a[id], #wrapper a[name] { 
	color: black; 
}

#content {
	text-align:left;
	padding:0 15px 0 15px;
	padding-bottom:40px;
}

#footer {
	width:100%;
	background-color:whitesmoke;
	border-top:1px solid gainsboro;	
	font-size:.8em;
	padding-top:8px;
	padding-bottom:0px;
	color:dimgray;
	white-space:nowrap;
}

img {
	-ms-interpolation-mode:bicubic;
}

h1 {
	font-weight : bold;
	font-size : 1.3em;
	margin-top:.7em;
	margin-bottom: 1em;
	border-bottom: 1px silver solid;
	padding-bottom: 8px;
	padding-top:0px;
}
h2 {
	font-weight : bold;
	font-size : 1.05em;
	margin-bottom: 0.25em;
	color: dimgray;
}
h3 {
	font-weight : bold;
	font-size : 1em;
	margin-bottom: 0.25em;
	color: #125095;
}

p {
	margin:0px 0em 1em 0em;
	line-height:1.5em;
}
		   
li {
	margin-bottom: 4pt;
}
		   
a:active, a:link, a:visited {
	text-decoration:underline;
}

a:hover		{
	text-decoration:none;
}


table {
	font-size: 1em; 
	margin-top: 1em 0 1em 0;		
	border-collapse:collapse;
  width:90%;
}

tr {
	vertical-align: top;	
}

th {
  background-color: #EDF6FF; 
  vertical-align: bottom;  
  color:#215A8F;
  padding:5px;
  border-bottom:1px solid #90ADBC;
}

td {
	vertical-align: top; 
	margin-top: .25em;	
	padding:10px;
	border-bottom:1px solid #EDF6FF;
}

td, th {
	text-align: left; 
	padding-left:1em;  
	border-right:2px solid white;
}

small {
	font-size: .85em;
}

tt {
	font-family: monospace;
	font-size:1.1em;
}

pre {
	font-family: Consolas, Monaco, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
	font-size: 1.02em;
	background-color:#F7F7F7;
	padding:1px 5px;
	/* Wrap content in pre tags if too long */
	overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.syntax {
	margin-top: 0em;
	margin-left: 1em;
	margin-right: 1em;
	background-color: whitesmoke;
}

var {
	margin: 0;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
	max-width: 100%;
	display: inline-block;
	font-style: normal;
	font-family: monospace;
	padding: 0 5px;
}

hr {
	color: silver;
	background-color: silver;
  height: 1px;
  border:none;
}

#toc a {
	font-family: 'Segoe UI', Verdana, Arial !important;
	text-decoration:none !important;
}

#toc a:hover {	
	text-decoration:underline !important;
}

/* Style for RSBScript */
.source .rsbkey { color: #047; font-weight: normal; } /* RSSBus Keyword */
.source .nt { color: #000; font-weight: bold; } /* This is the close tag make it */
.source .rsbattr { color: maroon; font-weight: bold; } /* RSSBus Attr name attr= and item= also in [ attr ] */
.source .rsbattrf { color: maroon; font-weight: bold;} /* RSSBus Attr name in a formatter */
.source .rsbbrace { color: #0000FF; font-weight: bold; } /* Color for the brace [ ] */
.source .rsbform { color: green;}  /* RSSBus Formatter [ attr |.. ] */
.source .rsbop { color: blue; font-weight: bold; } /* RSSBus Operation name */
.source .s { color: dimgray; } /* Literal.String */
.source .na { color: #333; font-weight: bold; } /* All the attribute name*/

.source .hll { background-color: #ffffcc }
.source .c { color: #408080; font-style: italic } /* Comment */
.source .err { border: 1px solid #FF0000 } /* Error */
.source .k { color: #008000; font-weight: bold } /* Keyword */
.source .o { color: #666666 } /* Operator */
.source .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.source .cp { color: #BC7A00 } /* Comment.Preproc */
.source .c1 { color: #408080; font-style: italic } /* Comment.Single */
.source .cs { color: #408080; font-style: italic } /* Comment.Special */
.source .gd { color: #A00000 } /* Generic.Deleted */
.source .ge { font-style: italic } /* Generic.Emph */
.source .gr { color: #FF0000 } /* Generic.Error */
.source .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.source .gi { color: #00A000 } /* Generic.Inserted */
.source .go { color: #808080 } /* Generic.Output */
.source .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.source .gs { font-weight: bold } /* Generic.Strong */
.source .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.source .gt { color: #0040D0 } /* Generic.Traceback */
.source .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.source .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.source .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.source .kp { color: #008000 } /* Keyword.Pseudo */
.source .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.source .kt { color: #B00040 } /* Keyword.Type */
.source .m { color: #666666 } /* Literal.Number */

.source .nb { color: #008000 } /* Name.Builtin */
.source .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.source .no { color: #880000 } /* Name.Constant */
.source .nd { color: #AA22FF } /* Name.Decorator */
.source .ni { color: #999999; font-weight: bold } /* Name.Entity */
.source .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.source .nf { color: #0000FF } /* Name.Function */
.source .nl { color: #A0A000 } /* Name.Label */
.source .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.source .nt { color: #333; font-weight: normal } /* Name.Tag */
.source .nv { color: #19177C } /* Name.Variable */
.source .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.source .w { color: #bbbbbb } /* Text.Whitespace */
.source .mf { color: #666666 } /* Literal.Number.Float */
.source .mh { color: #666666 } /* Literal.Number.Hex */
.source .mi { color: #666666 } /* Literal.Number.Integer */
.source .mo { color: #666666 } /* Literal.Number.Oct */
.source .sb { color: #BA2121 } /* Literal.String.Backtick */
.source .sc { color: #BA2121 } /* Literal.String.Char */
.source .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.source .s2 { color: #BA2121 } /* Literal.String.Double */
.source .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.source .sh { color: #BA2121 } /* Literal.String.Heredoc */
.source .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.source .sx { color: #008000 } /* Literal.String.Other */
.source .sr { color: #BB6688 } /* Literal.String.Regex */
.source .s1 { color: #BA2121 } /* Literal.String.Single */
.source .ss { color: #19177C } /* Literal.String.Symbol */
.source .bp { color: #008000 } /* Name.Builtin.Pseudo */
.source .vc { color: #19177C } /* Name.Variable.Class */
.source .vg { color: #19177C } /* Name.Variable.Global */
.source .vi { color: #19177C } /* Name.Variable.Instance */
.source .il { color: #666666 } /* Literal.Number.Integer.Long */


/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.8.2r1
*/

body{
	font:13px/1.231 Segoe UI, arial,helvetica,clean,sans-serif;*font-size:small;
	*font:x-small; margin:0px;padding:0px;
	overflow:auto;
	}
select,input,button,textarea,button		
	{font:99% arial,helvetica,clean,sans-serif;}

table, td			
	{font-size:inherit;font:100%; margin: 0; padding: 0; border: 0;
	}
pre,code,kbd,samp,tt					
	{font-family:monospace;*font-size:108%;line-height:100%;}
a, a:link, a:visited 					
	{text-decoration: none; color:#0069e7;}

#whiframe {  position:relative;}	
#whiframe table	{ padding-left:20px; position:relative; }
#whiframe table	td { padding:5px; }
#whiframe p 	{ padding:0; white-space: normal;}
#whiframe h1 {
	font-weight : bold;
	font-size : 1.3em;
	margin-top: .9em;
	margin-bottom: 1em;
	border-bottom: 1px silver solid;
	padding-bottom: 28px;
	padding-top:0px;
	color: black;
}
#whiframe h2 	{ color: dimgray; padding-bottom: 0px; }
#whiframe h3	{ color: #125095; }
#whiframe img 	{ max-width:660px; }
#whiframe pre 	{ font-size:95%; background-color:whitesmoke; color:black; padding:5px;margin:0px 0px 20px !important; line-height:130%}
#whiframe a,#whiframe a:link,#whiframe a:visited 	 { text-decoration: none; color:#0069e7; }	

#whtitle 		{ display:block; position:absolute; top:105px; font-size:85%;color:gray;margin-left:16px; }	
#whlayout 		{ height:100%; width:100%}
#whlayout td 	{ vertical-align:top;}
#whtoc 			{ height:100%; width:10%; padding:10px 0 0 10px;}
#whsizer 		{ height:100%; border-right: 2px solid gainsboro;  overflow: hidden; display:block;}
#whtoggle		{ width:13px; height:62px; background:url(help.png) -7 no-repeat; display:block; position:absolute; top:65px; }
#whhelp	    	{ display: block; margin:0px; padding:0px; border:none; overflow:hidden;  height:100%; width:100%; margin-right:auto; border-collapse:collapse;}
#whheader 		{ width:100%; height: 60px;  border-bottom:  1px solid darkgray; border-top: 3px solid maroon;} 
#whheader h1 {
  display: inline-block;
  margin-left: 130px;
  margin-top: 0.7em;
  padding-left: 10px;
  padding-top: 8px;
  line-height: 12px;
  font-size: 1.5em;
  font-weight: 400;
  border-bottom: none;
  border-left: 1px silver solid;
  color: black;
}
#whheader .phones { position: absolute; float:right; right: 0px; margin:10px 15px 0 0; color:dimgray; font-size:95%; height:25px; }
#whheader .website_icons { 
	float: right; 
	padding-right: 5px; 
	font-size: 12px; 
	list-style: none; 
	position: absolute; 
	right: 12px; 
	top: 22px;
	margin-bottom: 0px;
}
#whheader .website_icons li {display: inline-block; margin-left: 15px;}
#whheader .website_icons a {color: black;}
#whlogo 		{ display:block; width:120px; height: 23px; position: absolute; left: 10px ; top:20px; background:url(help.png) -190px -9px no-repeat;}
#whfeedback		{ padding-left:20px; position:absolute; right:20px; top:5px;font-size:90%; height:17px;}
#whfeedback	i	{ background:url(help.png) -165px -14px no-repeat; height:17px; width:17px; display:block; float:left; margin-right:3px;}
#whfeedbackform	td  { padding:4px; }

#whfooter {
	display:block; 
	width:100%; 
	height: 40px; 
	border-top: 3px solid gainsboro;
	background-color: #E0E0E0;
	font-size:95%;
	padding:0px;
	overflow:hidden;
}
#whfooter .content {
	padding:3px 10px;
	position:relative;
	font-size:.9em;
	line-height: 30px;
}

#whfooter .content .build {
	position:absolute;
	top:0px;
	right:10px;
	line-height: 35px;
}

#bg_fade {
	height:100%;
	left:0px;
	margin:0px;
	padding:0px;
	position:absolute;
	top:0px;
	visibility:hidden;
	width:100%;
	z-index:500;
	background-color: #000;
	filter:alpha(opacity=80);
	-moz-opacity: .8;
	opacity: .8;
}

#whfeedbackform {
	position: absolute;
    width:400px;
    z-index: 90000;
    display:none;
    border: 1px gray solid;
    background-color: white;
    padding: 20px;
}


/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.8.2r1
*/


table.ygtvtable		{margin-bottom:0;border:none;border-collapse:collapse;}
td.ygtvcell			{border:none;padding:0; vertical-align:middle !important;}
a.ygtvspacer		{text-decoration:none !important;outline-style:none;display:block;}
.ygtvtn				{width:18px;height:22px;background:url(help.png) -55px -13px no-repeat;cursor:pointer;}
.ygtvtm				{width:18px;height:22px;cursor:pointer;background:url(help.png) -139px 0px no-repeat;}
.ygtvtmh,.ygtvtmhh	{width:18px;height:22px;cursor:pointer;background:url(help.png) -139px -19px no-repeat;}

* .ygtvtp			{width:18px;height:22px;cursor:pointer;background:url(help.png) -119px 0 no-repeat;}

.ygtvtph,.ygtvtphh	{width:18px;height:22px;cursor:pointer;background:url(help.png) -119px -19px no-repeat;}

* .ygtvln			{width:14px;height:14px;background:url(help.png) -55px -13px no-repeat; cursor:pointer;}

.ygtvlm				{width:18px;height:22px;cursor:pointer;background:url(help.png) -139px 0 no-repeat;}
.ygtvlmh,.ygtvlmhh	{width:18px;height:22px;cursor:pointer;background:url(help.png) -139px -19px no-repeat;}
.ygtvlp				{width:18px;height:22px;cursor:pointer;background:url(help.png) -119px 0 no-repeat;}
.ygtvlph,.ygtvlphh	
					{width:18px;height:22px;cursor:pointer;background:url(help.png) -119px -19px no-repeat;
						cursor:pointer;}
.ygtvloading		{width:18px;height:22px;}
.ygtvdepthcell		{width:18px;height:22px;}
.ygtvblankdepthcell	{width:18px;height:22px;}

* html 

.ygtvchildren		{height:2%;}

/*Text*/
.ygtvlabel 			{margin-left:2px;text-decoration:none;cursor:pointer; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.ygtvlabel:link,	
.ygtvlabel:visited,	
.ygtvlabel:hover	{color:black; margin-left:2px;text-decoration:none;cursor:pointer; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.ygtvcontent		{cursor:default;}
.ygtvspacer			{height:22px;width:18px;}
.ygtvfocus			{border:none;}

.ygtvfocus .ygtvlabel,
.ygtvfocus .ygtvlabel:link		
.ygtvfocus .ygtvlabel:visited,
.ygtvfocus .ygtvlabel:hover		{}
.ygtvfocus a					{outline-style:none;}

.ygtv-highlight .ygtv-highlight1,
.ygtv-highlight .ygtv-highlight1 .ygtvlabel					{background-color:blue !important;color:white;}

.ygtv-highlight .ygtv-highlight2,	
.ygtv-highlight .ygtv-highlight2 .ygtvlabel					{background-color:silver !important;}

.ygtv-highlight .ygtv-highlight0 .ygtvfocus .ygtvlabel,
.ygtv-highlight .ygtv-highlight1 .ygtvfocus .ygtvlabel,
.ygtv-highlight .ygtv-highlight2 .ygtvfocus .ygtvlabel		{background-color:#c0e0e0 !important;}
.ygtv-highlight .ygtvcontent								{padding-right:1em;}

.ygtv-highlight1 {font-weight:bold !important;}
.ygtv-highlight1 .ygtvlabel {font-weight:bold !important; color: maroon !important;}

.ygtvok{width:18px;height:22px;}
.ygtvok:hover{background:url(help.png) 0 -8844px no-repeat;}
.ygtvcancel{width:18px;height:22px;}
.ygtv-label-editor{background-color:#954623;border:1px solid silver;position:absolute;display:none;overflow:hidden;margin:auto;z-index:9000;}
.ygtv-edit-TextNode{width:190px;}
.ygtv-edit-TextNode .ygtvcancel,.ygtv-edit-TextNode .ygtvok{border:none;}
.ygtv-edit-TextNode .ygtv-button-container{float:right;}
.ygtv-edit-TextNode .ygtv-input input{width:140px;}
.ygtv-edit-DateNode .ygtvcancel{border:none;}
.ygtv-edit-DateNode .ygtvok{display:none;}
.ygtv-edit-DateNode .ygtv-button-container{text-align:right;margin:auto;}

#tabs {position:absolute; top:-22px; left:5px; font-size:.9em; min-width:1000px; z-index:100;}	

/* tabset */
.tabs-box{	
	text-transform:uppercase;
	padding: 0 5px 0 0;
}

.tabs-box .tabset {
    font:11px Arial, Helvetica, sans-serif;
    padding: 0 0 0 5px;
    margin: 0 0px 0px 0;
    list-style-type: none;
    float: left;
    outline: none;	
	overflow: hidden;
	height:22px;
}
.tabs-box .tabset a, .tabs-box .tabset strong, .tabs-box .tabset span {
    float: left;
    display: block;
    color: #0069e7;
    padding: 6px 11px 2px 3px;
	margin: 0 0px 0 0;
    background: url(help.png) no-repeat 100% -91px;
    text-decoration: none;
    outline: none;
}
.tabs-box .tabset a {
	height:13px;
}
.tabs-box .tabset li {
    float: left;
    background: url(help.png) no-repeat 0px -91px;
    margin: 0 3px 0 0;
    padding: 0 0 0 9px;
    list-style-type: none;
	white-space: nowrap;
	display:inline-block;
	margin-bottom:3px;
}
.tabs-box .tabset li.active {
	border-bottom:1px solid white;
	font-weight:bold;
}
.tabs-box .tabset li.active a {
    padding: 6px 11px 2px 3px;
	color:black;
    
}
.tabs-box .tabset li.active a:hover {
    color: black;
}
.tabs-box .tabset li a:hover {
    color: black;
}

#newver {
	position:absolute; 
	top:-50px; 
	width:500px;
}

.syntax-tabs {
	border-bottom-style: none !important;
	margin-top: .5em;
	margin-left: .25em;
}

.syntax-tab {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}
